In [24]:
# Enable auto-complete for notebook
%config IPCompleter.greedy=True

# Show plots directly in the notebook
%matplotlib inline

import pandas as pd
import numpy as np
# import statsmodels.formula.api as smf
# from statsmodels.stats.api import anova_lm
from scipy.stats import ttest_ind

In [2]:
# Read in results
df1 = pd.read_csv('results1.csv', header=None, names=['ColumnNumber', 'SizeGuess', 'ResponseTime', 'ColumnCorrect', 'SizeCorrect'], skiprows=1)
df2 = pd.read_csv('results2.csv', header=None, names=['ColumnNumber', 'SizeGuess', 'ResponseTime', 'ColumnCorrect', 'SizeCorrect'], skiprows=1)
df3 = pd.read_csv('results3.csv', header=None, names=['ColumnNumber', 'SizeGuess', 'ResponseTime', 'ColumnCorrect', 'SizeCorrect'], skiprows=1)
df4 = pd.read_csv('results4.csv', header=None, names=['ColumnNumber', 'SizeGuess', 'ResponseTime', 'ColumnCorrect', 'SizeCorrect'], skiprows=1)
df5 = pd.read_csv('results5.csv', header=None, names=['ColumnNumber', 'SizeGuess', 'ResponseTime', 'ColumnCorrect', 'SizeCorrect'], skiprows=1)

In [3]:
df5.head()

    ColumnNumber  SizeGuess  ResponseTime  ColumnCorrect  SizeCorrect
17             7         12     18.144339              1           10
6              0         37     16.199298              0           37
10             1         42     22.885215              1           42
4              2         52     16.558601              2           52
12             1         22     10.418463              1           22

In [4]:
# Create data frame including all results
df = df1.append([df2, df3, df4, df5])

In [5]:
# Make new feature that expresses if relative estimate was correct
df['EstimateRelative'] = df['ColumnNumber'] == df['ColumnCorrect'] 

# Encode labels to 0/1
df.EstimateRelative = df.EstimateRelative.astype(int, copy=False)

In [6]:
# Make new feature that describes specific estimate error
df['EstimateError'] = df['SizeCorrect'] - df['SizeGuess']

In [9]:
# 0 bar, 1 column
df['GraphType'] = df['ColumnNumber'] % 2

In [10]:
df.describe()

,ColumnNumber,SizeGuess,ResponseTime,ColumnCorrect,SizeCorrect,EstimateRelative,EstimateError,GraphType
count,120.00000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000
mean,1.55000,34.183333,15.574807,1.500000,34.083333,0.991667,-0.100000,0.500000
std,1.08349,19.883266,6.497189,0.961441,20.565363,0.091287,1.976331,0.502096
min,0.00000,9.000000,7.435744,0.000000,10.000000,0.000000,-9.000000,0.000000
25%,1.00000,18.750000,11.274680,1.000000,18.750000,1.000000,-1.000000,0.000000
50%,2.00000,30.000000,13.770182,1.500000,30.000000,1.000000,0.000000,0.500000
75%,2.00000,44.250000,18.157962,2.000000,44.500000,1.000000,1.000000,1.000000
max,7.00000,85.000000,43.630312,3.000000,85.000000,1.000000,6.000000,1.000000

In [11]:
df_bar = df[df.GraphType == 0]
df_col = df[df.GraphType == 1]

In [13]:
df_bar.var()

ColumnNumber          0.903955
SizeGuess           518.285593
ResponseTime         44.192112
ColumnCorrect         0.903955
SizeCorrect         564.632768
EstimateRelative      0.000000
EstimateError         4.545480
GraphType             0.000000
dtype: float64

In [14]:
df_col.var()

ColumnNumber          1.368362
SizeGuess           104.450565
ResponseTime         40.943878
ColumnCorrect         0.903955
SizeCorrect         114.378531
EstimateRelative      0.016667
EstimateError         3.331921
GraphType             0.000000
dtype: float64

**T-Test**

2 requirements for t-test:
- same sample size
- same variance

Checked variance above and they are similar

**Column Graph**

ResponseTime         40.943878

EstimateRelative      0.016667

EstimateError         3.331921


**Bar Graph**

ResponseTime         44.192112

EstimateRelative      0.000000

EstimateError         4.545480

In [29]:
# https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html#scipy.stats.ttest_ind

# If we observe a large p-value, for example larger than 0.05 or 0.1, then we 
# cannot reject the null hypothesis of identical average scores. If the p-value 
# is smaller than the threshold, e.g. 1%, 5% or 10%, then we reject the null 
# hypothesis of equal averages.

ttest_ind(df_col.ResponseTime, df_bar.ResponseTime, equal_var=False)

Ttest_indResult(statistic=-0.09441940883658574, pvalue=0.9249363753201283)

In [26]:
ttest_ind(df_col.EstimateRelative, df_bar.EstimateRelative, equal_var=False)

Ttest_indResult(statistic=-1.0000000000000029, pvalue=0.3213942797694436)

In [27]:
ttest_ind(df_col.EstimateError, df_bar.EstimateError, equal_var=False)

Ttest_indResult(statistic=0.09199471747195852, pvalue=0.9268619315172151)