In [27]:
# Enable auto-complete for notebook
%config IPCompleter.greedy=True

# Show plots directly in the notebook
%matplotlib inline

import pandas as pd
import numpy as np

In [37]:
df1 = pd.read_csv('results1.csv', header=None, names=['ColumnNumber', 'SizeGuess', 'ResponseTime', 'ColumnCorrect', 'SizeCorrect'], skiprows=1)
df2 = pd.read_csv('results2.csv', header=None, names=['ColumnNumber', 'SizeGuess', 'ResponseTime', 'ColumnCorrect', 'SizeCorrect'], skiprows=1)
df3 = pd.read_csv('results3.csv', header=None, names=['ColumnNumber', 'SizeGuess', 'ResponseTime', 'ColumnCorrect', 'SizeCorrect'], skiprows=1)
df4 = pd.read_csv('results4.csv', header=None, names=['ColumnNumber', 'SizeGuess', 'ResponseTime', 'ColumnCorrect', 'SizeCorrect'], skiprows=1)
df5 = pd.read_csv('results5.csv', header=None, names=['ColumnNumber', 'SizeGuess', 'ResponseTime', 'ColumnCorrect', 'SizeCorrect'], skiprows=1)

In [38]:
df5.head()

    ColumnNumber  SizeGuess  ResponseTime  ColumnCorrect  SizeCorrect
17             7         12     18.144339              1           10
6              0         37     16.199298              0           37
10             1         42     22.885215              1           42
4              2         52     16.558601              2           52
12             1         22     10.418463              1           22

In [40]:
df_all = df1.append([df2, df3, df4, df5])

In [41]:
df_all.describe()

       ColumnNumber   SizeGuess  ResponseTime  ColumnCorrect  SizeCorrect
count     120.00000  120.000000    120.000000     120.000000   120.000000
mean        1.55000   34.183333     15.574807       1.500000    34.083333
std         1.08349   19.883266      6.497189       0.961441    20.565363
min         0.00000    9.000000      7.435744       0.000000    10.000000
25%         1.00000   18.750000     11.274680       1.000000    18.750000
50%         2.00000   30.000000     13.770182       1.500000    30.000000
75%         2.00000   44.250000     18.157962       2.000000    44.500000
max         7.00000   85.000000     43.630312       3.000000    85.000000